<div class="card col-sm-5 search-form pt-2">
  <div class="card-block p-0">
    <form ngNativeValidate #f="ngForm">

      <!--MEMBER USER-->

      <div [class]="style.formgroup" *ngIf="columns.indexOf('memberUserId') > -1">
        <label [class]="style.label">使用者 ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.id" name="id" [class]="style.formcontrol" placeholder="請輸入使用者 ID">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('memberUserAccount') > -1">
        <label [class]="style.label">使用者帳號</label>
        <div class="col-sm-6">
          <input [ngModel]="search.account" name="account" [class]="style.formcontrol" placeholder="請輸入使用者帳號">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('memberUserName') > -1">
        <label [class]="style.label">使用者名稱</label>
        <div class="col-sm-6">
          <input [ngModel]="search.displayName" name="displayName" [class]="style.formcontrol" placeholder="請輸入使用者名稱">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('memberUserType') > -1">
        <label [class]="style.label">類別</label>
        <div class="col-sm-6">
          <input [ngModel]="search.type" name="type" [class]="style.formcontrol" placeholder="請輸入群組代號">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('memberUserSignType') > -1">
        <label [class]="style.label">登入方式</label>
        <div class="col-sm-6">
          <select [ngModel]="search.signType" name="signType" [class]="style.formcontrol">
            <option value="" selected="selected"></option>
            <option value="0">Email</option>
            <option value="1">Facebook</option>
          </select>
        </div>
      </div>

      <!--MEMBER TAG-->

      <div [class]="style.formgroup" *ngIf="columns.indexOf('memberTagId') > -1">
        <label [class]="style.label">標籤 ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.id" name="id" [class]="style.formcontrol" placeholder="請輸入標籤ID">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('memberTagName') > -1">
        <label [class]="style.label">標籤名稱</label>
        <div class="col-sm-6">
          <input [ngModel]="search.name" name="name" [class]="style.formcontrol" placeholder="請輸入標籤名稱">
        </div>
      </div>

      <!--MEMBER COLLECTION-->

      <div [class]="style.formgroup" *ngIf="columns.indexOf('collectionId') > -1">
        <label [class]="style.label">Box ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.id" name="id" [class]="style.formcontrol" placeholder="請輸入寶物盒 ID">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('collectionUserId') > -1">
        <label [class]="style.label">使用者 ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.userId" name="userId" [class]="style.formcontrol" placeholder="請輸入寶物盒 ID">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('collectionActivityId') > -1">
        <label [class]="style.label">活動ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.activityId" name="activityId" [class]="style.formcontrol" placeholder="請輸入寶物ID">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('collectionObjectId') > -1">
        <label [class]="style.label">寶物ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.objectId" name="objectId" [class]="style.formcontrol" placeholder="請輸入寶物ID">
        </div>
      </div>


      <!-- MEMBER PAGESETUP -->

      <div [class]="style.formgroup" *ngIf="columns.indexOf('memberPageId') > -1">
        <label [class]="style.label">頁籤 ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.id" name="id" [class]="style.formcontrol" placeholder="請輸入頁籤ID">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('memberPageName') > -1">
        <label [class]="style.label">頁籤名稱</label>
        <div class="col-sm-6">
          <input [ngModel]="search.name" name="name" [class]="style.formcontrol" placeholder="請輸入頁籤名稱">
        </div>
      </div>

      <!-- Activity -->

      <div [class]="style.formgroup" *ngIf="columns.indexOf('activityId') > -1">
        <label [class]="style.label">活動ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.id" name="id" [class]="style.formcontrol" placeholder="請輸入活動ID">
        </div>
      </div>

      <!--<div [class]="style.formgroup" *ngIf="columns.indexOf('activityUrl') > -1">-->
      <!--<label [class]="style.label">活動網址</label>-->
      <!--<div class="col-sm-6">-->
      <!--<input [ngModel]="search.url" name="url" [class]="style.formcontrol" placeholder="請輸入活動網址">-->
      <!--</div>-->
      <!--</div>-->

      <div [class]="style.formgroup" *ngIf="columns.indexOf('activityDescription') > -1">
        <label [class]="style.label">活動說明</label>
        <div class="col-sm-6">
          <input [ngModel]="search.description" name="description" [class]="style.formcontrol" placeholder="請輸入活動說明">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('activityObjectId') > -1">
        <label [class]="style.label">寶物ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.objectId" name="objectId" [class]="style.formcontrol" placeholder="請輸入寶物ID">
        </div>
      </div>

      <!--<datepicker *ngIf="columns.indexOf('insertActivityStart') > -1" [label]="'活動開始時間'" [begin]="search.insertBegin"-->
      <!--(onBegin)="search.insertBegin=$event" ></datepicker>-->


      <!--<datepicker *ngIf="columns.indexOf('insertActivityEnd') > -1" [label]="'活動結束時間'" [end]="search.insertEnd"-->
      <!--(onEnd)="search.insertEnd=$event"></datepicker>-->

      <!------------- Treasure -------------->
      <div [class]="style.formgroup" *ngIf="columns.indexOf('treasureId') > -1">
        <label [class]="style.label">寶物ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.id" name="id" [class]="style.formcontrol" placeholder="請輸入寶物ID">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('treasureName') > -1">
        <label [class]="style.label">寶物名稱</label>
        <div class="col-sm-6">
          <input [ngModel]="search.name" name="name" [class]="style.formcontrol" placeholder="請輸入寶物名稱">
        </div>
      </div>

      <!--<div [class]="style.formgroup" >-->
      <!--<label [class]="style.label">寶物類型</label>-->
      <!--<div class="col-sm-6">-->
      <!--<input [ngModel]="search.treasureType" name="treasureType" [class]="style.formcontrol" placeholder="請輸入寶物類型">-->
      <!--</div>-->
      <!--</div>-->

      <div [class]="style.formgroup" *ngIf="columns.indexOf('treasureType') > -1">
        <label [class]="style.label">寶物類型</label>
        <div class="col-sm-6">
          <select [ngModel]="search.type" name="type" [class]="style.formcontrol">
            <option value="" selected="selected"></option>
            <option value="COUPON">COUPON(折價券)</option>
            <option value="ORCODE">ORCODE(QR碼)</option>
            <option value="CASH">CASH(現金)</option>
            <option value="BCODE">BCODE(二為碼)</option>
            <option value="URL">URL(活動網址)</option>
            <option value="MARK">MARK(優惠收藏)</option>
            <option value="CODE">CODE(序號、交易碼、折價碼)</option>
            <option value="PIC">PIC(圖檔)</option>
          </select>
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('treasureCode') > -1">
        <label [class]="style.label">寶物CODE</label>
        <div class="col-sm-6">
          <input [ngModel]="search.code" name="code" [class]="style.formcontrol" placeholder="請輸入寶物序號">
        </div>
      </div>

      <!--<div [class]="style.formgroup" *ngIf="columns.indexOf('treasureUrl') > -1">-->
        <!--<label [class]="style.label">寶物URL</label>-->
        <!--<div class="col-sm-6">-->
          <!--<input [ngModel]="search.url" name="url" [class]="style.formcontrol" placeholder="請輸入寶物URL">-->
        <!--</div>-->
      <!--</div>-->

      <!------------- Common -------------->

      <div [class]="style.formgroup" *ngIf="columns.indexOf('index') > -1">
        <label [class]="style.label">排序 Index</label>
        <div class="col-sm-6">
          <input [ngModel]="search.index" name="index" [class]="style.formcontrol" placeholder="請輸入排序Index">
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('pageId') > -1">
        <label [class]="style.label">頁籤 ID</label>
        <div class="col-sm-6">
          <input [ngModel]="search.pageId" name="pageId" [class]="style.formcontrol" placeholder="請輸入頁籤ID">
        </div>
      </div>


      <div [class]="style.formgroup" *ngIf="columns.indexOf('enabled') > -1">
        <label class="col-form-label col-form-label-sm col-sm-2">啟用狀態</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [ngModel]="search.enabled"  name="enabled" value="1" />
              <span>是</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [ngModel]="search.enabled"  name="enabled" value="0" />
              <span>否</span>
            </label>
          </div>
        </div>
      </div>

      <div [class]="style.formgroup" *ngIf="columns.indexOf('isActived') > -1">
        <label class="col-form-label col-form-label-sm col-sm-2">啟用狀態</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [ngModel]="search.isActived"  name="isActived" value="1" />
              <span>是</span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [ngModel]="search.isActived"  name="isActived" value="0" />
              <span>否</span>
            </label>
          </div>
        </div>
      </div>

      <div [class]="style.formgroup">
        <div class="search-box">
          <loading></loading>
          <button type="submit" (click)="doSearch(f['value'])" class="btn btn-success btn-sm" [disabled]="share.loading" *ngIf="columns.indexOf('doSearch') > -1">查詢</button>
          <button type="button" (click)="add()" class="btn btn-warning btn-sm" *ngIf="columns.indexOf('add') > -1">新增</button>
          <!--<button type="button" (click)="add()" class="btn btn-warning btn-sm" *ngIf="columns.indexOf('add') > -1">新增</button>-->
        </div>
      </div>


    </form>
  </div>
</div>