.search-form {
    font-size: 0.875rem;
    min-width: 522px;
}
.search-form .col-form-label {
    flex: 0 0 21%;
    max-width: 21%;
}
.search-form .search-box {
    margin: -2rem 0.6rem 0rem auto;
}