<!-- Created by skylee on 2017/7/12. -->

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">會員管理</a>
    <span class="breadcrumb-item active">會員收藏管理</span>
</nav>

<!-- Alert Message -->
<alert></alert>

<!--編輯dialog -->
<ng-template #content>
    <app-member-collection-management-dialog *ngIf="currentItem" [currentItem]="currentItem" [modalRef]="modalRef" (onAdd)="add($event)"
                                       (onEdit)="edit($event)">
    </app-member-collection-management-dialog>
</ng-template>

<!-- 搜尋表單 -->
<app-search-form (onSearch)="doSearch()" (onAdd)="setCurrentItem(content)" [canAdd]="auths.indexOf('memberCollectionManagementComponent.append') > -1"
                 [columns]="searchColumns" [searchIndexContent]="searchIndexContent"></app-search-form>

<!-- 結果列表 -->
<div class="mt-3" *ngIf="list && list.length > 0">
    <table class="table table-hover table-sm">
        <tr>
            <th>代碼</th>
            <th>使用者帳號</th>
            <th>活動描述</th>
            <th>寶物名稱</th>
            <th>是否啟用</th>
        </tr>
        <tr *ngFor="let item of list" [ngClass]="item.user.enabled == 0? 'bg-silver' : ''">
            <td>{{item.id}}</td>
            <td>{{item.user?.account}}</td>
            <td>{{item.activity?.description}}</td>
            <td>{{item.object?.name}}</td>
            <td>{{item.isActived == 0? '停用' : item.isActived == 1? '啟用' : item.isActived}}</td>
            <td>
                <!-- 編輯 -->
                <button (click)="setCurrentItem(content, item, auths.indexOf('memberCollectionManagementComponent.edit')>-1)" class="btn btn-primary btn-sm">編輯</button>

                <!-- 刪除 -->
                <!--<loading class="override" [check]="false" *ngIf="item['removing']"></loading>-->
                <!--<button (click)="remove(item.objectId, item.user.userName, item)" *ngIf="item.user.userId != currentUserId &&-->
          <!--auths.indexOf('groupv2UserManagement.delete')>-1 && item.user.enabled == 1"-->
                        <!--class="btn btn-danger btn-sm" [disabled]="item['removing']">刪除</button>-->

            </td>
        </tr>

    </table>

    <!-- 分頁 -->
    <pagination (onPageChange)="doSearch()"></pagination>

</div>