<div class="form-group mb-1 row" style="height: 26px">
    <label class="col-sm-2 col-form-label col-form-label-sm pr-0">{{label}}</label>
    <div class="col-sm-8 d-flex">
        <div class="input-group pr-5 ">
            <input class="form-control text-muted pl-2" placeholder="年/月/日" name="insertDate" [ngModel]="_begin"
                   (ngModelChange)="beginChanged($event)" ngbDatepicker #begindp="ngbDatepicker">
            <div class="input-group-addon" (click)="onDpClick(begindp)">
                <i class="fa fa-calendar text-muted" style="cursor:pointer" aria-hidden="false"> </i>
            </div>
        </div>
    </div>
</div>