<nav id="header" class="navbar navbar-toggleable-sm navbar-inverse bg-primary pt-0 pb-0">
  
  <!-- brand icon -->
  <a class="navbar-brand" routerLink="/loginComponent">卡好用管理系統</a>

  <!-- 手機螢幕看到的按鈕 -->
  <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->

  <div class="collapse navbar-collapse h-100" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- 使用者名稱 -->
      <li class="nav-item active default-cursor">
        <a class="nav-link h-100">{{base.user.userId}}</a>
      </li>
      <!-- 登出 -->
      <li class="nav-item active light-blue">
        <a class="nav-link h-100" routerLink="/loginComponent">登出</a>
      </li>
    </ul>
  </div>
</nav>
