<!-- Created by skylee on 2017/7/5. -->

<form ngNativeValidate #f="ngForm" (ngSubmit)="item.id? edit(f['value']) : add(f['value'])">
    <!--<pre>{{f.value | json}}</pre>-->
    <div class="modal-header">
        <h4 class="modal-title">{{item.id? '編輯' : '新增'}}會員資料</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div [ngClass]="share.style.dfg" [hidden]="true">
            <label [ngClass]="share.style.dl">UserID</label>
            <div [ngClass]="share.style.dib">
                <input type="text"  [ngClass]="share.style.di" [ngModel]="item?.id" name="id" maxlength="36"/>
            </div>
        </div>

        <div [ngClass]="share.style.dfgr" >
            <label [ngClass]="share.style.dl">EMAIL 帳號</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="email@example.com" [ngModel]="item?.account" name="account"
                       title="example@example.com" maxlength="100" required />
                <!--pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"-->
            </div>
        </div>

        <div [ngClass]="share.style.dfgr" >
            <label [ngClass]="share.style.dl">使用者名稱</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="請輸入使用者名稱" [ngModel]="item?.displayName" name="displayName"
                       maxlength="50" required/>
            </div>
        </div>

        <div [ngClass]="share.style.dfgr" *ngIf="!item.id">
            <label [ngClass]="share.style.dl">密碼</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="密碼" [ngModel]="item?.password" name="password" pattern="[A-Za-z\d]*"
                       title="英文或數字" maxlength="100" required />
            </div>
        </div>

        <!--<div [ngClass]="share.style.dfgr" ngModelGroup="user" *ngIf="!item">-->
            <!--<label [ngClass]="share.style.dl">確認密碼</label>-->
            <!--<div [ngClass]="share.style.dib">-->
                <!--<input type="text" [ngClass]="share.style.di" placeholder="確認密碼" [ngModel]="item?.password" name="checkPassword" pattern="[A-Za-z\d]*"-->
                       <!--title="英文或數字" maxlength="50" required />-->
            <!--</div>-->
        <!--</div>-->

        <div [ngClass]="share.style.dfg" >
            <label [ngClass]="share.style.dl">類別</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="類別" [ngModel]="item?.type" name="type" pattern="[A-Za-z\d]*"
                       title="英文或數字" maxlength="1" />
            </div>
        </div>

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">登入方式</label>
            <div [ngClass]="share.style.dib" [hidden]="item?.signType == 0">
                <input type="text" [ngClass]="share.style.di" [ngModel]="item?.signType" name="signType" value="Email"
                       [readonly]="true" />
            </div>
            <div [ngClass]="share.style.dib" [hidden]="item?.signType == 1">
                <input type="text" [ngClass]="share.style.di" [ngModel]="item?.signType" name="signType" value="Facebook"
                       [readonly]="true" />
            </div>
        </div>

        <div [class]="share.style.dfgr" >
            <label [ngClass]="share.style.dl">啟用狀態</label>
            <div class="col-sm-6">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.enabled" name="enabled" [value]="1"> 是
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.enabled"  name="enabled" [value]="0" > 否
                    </label>
                </div>
            </div>
        </div>

        <!--<div [ngClass]="share.style.dfgr">-->
            <!--<label [ngClass]="share.style.dl">所屬類別</label>-->
            <!--<div [ngClass]="share.style.dib">-->
                <!--<select [class]="share.style.di" [ngModel]="item?.groupv2.groupv2Id" name="groupv2Id" required>-->
                    <!--<option value=""></option>-->
                    <!--<option *ngFor="let g of groupv2List" [ngValue]="g.groupv2Id">-->
                        <!--{{g.groupv2Id}} - {{g.groupv2Name}}-->
                    <!--</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <loading></loading>
        <button type="submit" [disabled]="share.loading" [ngClass]="share.style.dsb" *ngIf="canSave">儲存</button>
        <button type="button" [ngClass]="share.style.dcb" (click)="close()">離開</button>
    </div>
</form>