<form ngNativeValidate #f="ngForm" (ngSubmit)="item.id? editFormData(f['value']) : addFormData(f['value'])">
    <div class="modal-header">
        <h4 class="modal-title">{{item.id? '編輯' : '新增'}}寶物資料</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div [ngClass]="share.style.dfg" [hidden]="true">
            <label [ngClass]="share.style.dl">寶物ID</label>
            <div [ngClass]="share.style.dib">
                <input type="text"  [ngClass]="share.style.di" [ngModel]="item?.id" name="id" maxlength="50"/>
            </div>
        </div>

        <div [ngClass]="share.style.dfgr">
            <label [ngClass]="share.style.dl">寶物名稱</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="請輸入寶物名稱" [ngModel]="item?.name" name="name"
                       title="英文或數字" maxlength="100" required />
            </div>
        </div>

        <div [class]="share.style.dfgr">
            <label [class]="share.style.dl">寶物類型</label>
            <div class="col-sm-6">
                <select [ngModel]="item?.type" name="type" [class]="share.style.di" >
                    <option value="" selected="selected"></option>
                    <option value="COUPON">COUPON(折價券)</option>
                    <option value="ORCODE">ORCODE(QR碼)</option>
                    <option value="CASH">CASH(現金)</option>
                    <option value="BCODE">BCODE(二為碼)</option>
                    <option value="URL">URL(活動網址)</option>
                    <option value="MARK">MARK(優惠收藏)</option>
                    <option value="CODE">CODE(序號、交易碼、折價碼)</option>
                    <option value="PIC">PIC(圖檔)</option>
                </select>
            </div>
        </div>

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">寶物檔案</label>
            <div [ngClass]="share.style.dib">
                <input type="file" [ngClass]="share.style.di" (change)="fileSelected($event)" placeholder="請輸入寶物檔案" name="file" [hidden]="item?.file"/>
                <button type="button" [ngClass]="share.style.dcb" (click)="downloadFile()" [hidden]="item?.file == null">下載檔案</button>
            </div>
        </div>

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">寶物CODE</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="請輸入CODE" [ngModel]="item?.code" name="code" maxlength="100"
                />
            </div>
        </div>

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">寶物URL</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="請輸入寶物URL" [ngModel]="item?.url" name="url" maxlength="255"
                />
            </div>
        </div>

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">排序</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" [value]="0" [ngModel]="item?.index" name="index" maxlength="8"
                />
            </div>
        </div>

        <div [ngClass]="share.style.dfgr">
            <label [ngClass]="share.style.dl">所屬頁籤</label>
            <div [ngClass]="share.style.dib">
                <select [class]="share.style.di" [ngModel]="item?.pageSetup?.id" name="pageId">
                    <option value=""></option>
                    <option *ngFor="let g of pageSetupList" [ngValue]="g.id">
                        {{g.name}}
                    </option>
                </select>
            </div>
        </div>


        <div [class]="share.style.dfgr">
            <label [ngClass]="share.style.dl">啟用狀態</label>
            <div class="col-sm-6">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.enabled"  name="enabled" [value]="1" />
                        <span>是</span>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.enabled"  name="enabled" [value]="0" />
                        <span>否</span>
                    </label>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <loading></loading>
        <button type="submit" [disabled]="share.loading" [ngClass]="share.style.dsb" *ngIf="canSave">儲存</button>
        <button type="button" [ngClass]="share.style.dcb" (click)="close()">離開</button>
    </div>
</form>