<!-- 麵包屑 -->
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">使用者管理</a>
  <span class="breadcrumb-item active">群組管理</span>
</nav>

<!-- Alert Message -->
<alert></alert>

<!-- 編輯dialog -->
<ng-template #content>
  <app-groupv2-management-dialog *ngIf="currentItem" [currentItem]="currentItem" [modalRef]="modalRef" (onAdd)="add($event)"
    (onEdit)="edit($event)">
  </app-groupv2-management-dialog>
</ng-template>

<!-- 搜尋表單 -->
<app-search-form (onSearch)="doSearch()" (onAdd)="setCurrentItem(content)" [canAdd]="auths.indexOf('groupv2Management.append') > -1"
  [columns]="searchColumns" [searchIndexContent]="searchIndexContent"></app-search-form>

<!-- 結果列表 -->
<div class="mt-3" *ngIf="list && list.length > 0">
  <table class="table table-hover table-sm">
    <tr>
      <th>群組代碼</th>
      <th>群組名稱</th>
      <th>操作</th>
    </tr>

    <tr *ngFor="let item of list" [ngClass]="item.enableFlag == 0? 'bg-silver' : ''">
      <td>{{item.groupv2Id}}</td>
      <td>{{item.groupv2Name}}</td>
      <td>
        <!-- 編輯 -->
        <button (click)="setCurrentItem(content, item, 
          auths.indexOf('groupv2Management.edit')>-1 && item.enableFlag == 1)" class="btn btn-primary btn-sm">編輯</button>

        <!-- 刪除 -->
        <loading class="override" [check]="false" *ngIf="item['removing']"></loading>
        <button (click)="remove(item.groupv2Id, item.groupv2Name, item)" [disabled]="item['removing']"
          *ngIf="auths.indexOf('groupv2Management.delete')>-1 && item.groupv2Id != currentGroupv2Id &&
          item.groupv2Id != 'admin' && item.enableFlag == 1" class="btn btn-danger btn-sm">刪除</button>

        <!-- 回復 -->
        <loading class="override" [check]="false" *ngIf="item['recovering']"></loading>
        <button (click)="recover(item.groupv2Id, item)" class="btn btn-warning btn-sm" *ngIf="item.enableFlag == 0"
         [disabled]="item['recovering']">回復</button>
      </td>
    </tr>
  </table>

  <!-- 分頁 -->
  <pagination (onPageChange)="doSearch()"></pagination>

</div>