<!-- Header -->
<app-header></app-header>

<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <nav id="sidebar" class="bg-faded">
      <nav class="nav nav-pills flex-column">
        <app-sidebar></app-sidebar>
      </nav>
    </nav>

    <!-- Content Box-->
    <main id="main" class="f-1 pl-2 overflow-x">
      <!-- Content -->
      <router-outlet></router-outlet>
    </main>
  </div>
</div>