<form ngNativeValidate #f="ngForm" (ngSubmit)="item.id? edit(f['value']) : add(f['value'])">
    <div class="modal-header">
        <h4 class="modal-title">{{item.id? '編輯' : '新增'}}活動資料</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!--<div [ngClass]="share.style.dfgr">-->
            <!--<label [ngClass]="share.style.dl">活動名稱</label>-->
            <!--<div class="pl-0">-->
                <!--<input type="text" [ngClass]="share.style.di" placeholder="請輸入活動名稱" [ngModel]="item?.name" name="name"-->
                       <!--title="英文或數字" maxlength="20" required />-->
            <!--</div>-->
        <!--</div>-->


        <!--<div [ngClass]="share.style.dfgr">-->
            <!--<label [ngClass]="share.style.dl">活動檔案</label>-->
            <!--<div class="pl-0">-->
                <!--<input type="text" [ngClass]="share.style.di" placeholder="請輸入活動檔案" [ngModel]="item?.uniCode" name="uniCode" maxlength="8" required/>-->
            <!--</div>-->
        <!--</div>-->

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">活動描述</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="請輸入活動描述" [ngModel]="item?.description" name="description" maxlength="300"
                />
            </div>
        </div>

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">活動URL</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="請輸入活動URL" [ngModel]="item?.url" name="url" maxlength="255"
                />
            </div>
        </div>

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">活動開始時間</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="請輸入開始日期" [ngModel]="item?.startTime | date: 'yyyy-MM-dd'" name="startTime"  maxlength="50"/>
                       <!--pattern="[0-9]{4}[-/.][0-9]{2}[-/.][0-9]{2}" />-->
            </div>
        </div>

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">活動結束時間</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="請輸入開始日期" [ngModel]="item?.endTime | date: 'yyyy-MM-dd'" name="endTime"  maxlength="50"/>
                <!--pattern="[0-9]{4}[-/.][0-9]{2}[-/.][0-9]{2}" />-->
            </div>
        </div>

        <div [ngClass]="share.style.dfgr">
            <label [ngClass]="share.style.dl">所屬頁籤</label>
            <div [ngClass]="share.style.dib">
                <select [class]="share.style.di" [ngModel]="item?.pageSetup?.id" name="pageId">
                    <option value=""></option>
                    <option *ngFor="let g of pageSetupList" [ngValue]="g.id">
                        {{g.name}}
                    </option>
                </select>
            </div>
        </div>

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">排序</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" [value]="0" placeholder="請輸入排序" [ngModel]="item?.index" name="index" maxlength="8"
                />
            </div>
        </div>

        <div [ngClass]="share.style.dfgr">
            <label [ngClass]="share.style.dl">綁定寶物</label>
            <div [ngClass]="share.style.dib">
                <select [class]="share.style.di" [ngModel]="item?.object?.id" name="objectId">
                    <option value=""></option>
                    <option *ngFor="let g of treasureList" [ngValue]="g.id">
                        {{g.name}}
                    </option>
                </select>
            </div>
        </div>


        <div [class]="share.style.dfgr" >
            <label [ngClass]="share.style.dl" >啟用狀態</label>
            <div class="col-sm-6">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.isActived"  name="isActived" [value]= 1 />
                        <span>是</span>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.isActived"  name="isActived" [value]= 0 />
                        <span>否</span>
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <loading></loading>
        <button type="submit" [disabled]="share.loading" [ngClass]="share.style.dsb" *ngIf="canSave">儲存</button>
        <button type="button" [ngClass]="share.style.dcb" (click)="close()">離開</button>
    </div>
</form>