<!-- Created by skylee on 2017/7/5. -->

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">會員管理設定</a>
    <span class="breadcrumb-item active">帳號管理</span>
</nav>

<!-- Alert Message -->
<alert></alert>

 <!--編輯dialog -->
<ng-template #content>
    <app-member-user-management-dialog *ngIf="currentItem" [currentItem]="currentItem" [modalRef]="modalRef"
                                        (onEdit)="edit($event)" (onExecute)="execute($event)" (onAdd)="add($event)">
    </app-member-user-management-dialog>
</ng-template>

<!-- 搜尋表單 -->
<app-search-form (onSearch)="doSearch()" (onAdd)="setCurrentItem(content)" [canAdd]="auths.indexOf('memberUserManagement.append') > -1"
                 [columns]="searchColumns" [searchIndexContent]="searchIndexContent"></app-search-form>

<!-- 結果列表 -->
<div class="mt-3" *ngIf="list && list.length > 0">
    <table class="table table-hover table-sm">
        <tr>
            <th>UserId</th>
            <th>名稱</th>
            <th>帳號</th>
            <th>註冊時間</th>
            <th>登入方式</th>
            <th>是否啟用</th>
            <th>操作</th>
        </tr>
        <tr *ngFor="let item of list" [ngClass]="item.enabled == 0? 'bg-silver' : ''">
            <td>{{item.id}}</td>
            <td>{{item.displayName}}</td>
            <td>{{item.account}}</td>
            <td>{{item.createTime | date: 'yyyy/MM/dd'}}</td>
            <td>{{item.signType == '0'? 'Email' : item.signType == '1'? 'Facebook' : item.signType}}</td>
            <td>{{item.enabled == 0? '停用' : item.enabled == 1? '啟用' : item.enabled}}</td>
            <td>
                <!-- 編輯 -->
                <button (click)="setCurrentItem(content, item, auths.indexOf('memberUserManagement.edit') > -1)"
                        class="btn btn-primary btn-sm">編輯</button>

                <!-- 編輯 -->
                <!--<button (click)="setCurrentItem(content, item, auths.indexOf('memberUserManagement.edit') > -1)"-->
                        <!--class="btn btn-primary btn-sm">新增標籤</button>-->

                <!--&lt;!&ndash; 刪除 &ndash;&gt;-->
                <!--<loading class="override" [check]="false" *ngIf="item['removing']"></loading>-->
                <!--<button (click)="remove(item.userName, item)" *ngIf=-->
          <!--"auths.indexOf('memberUserManagement.delete')>-1 && item.enabled == 1"-->
                        <!--class="btn btn-danger btn-sm" [disabled]="item['removing']">刪除</button>-->

            </td>
        </tr>

    </table>

    <!-- 分頁 -->
    <pagination (onPageChange)="doSearch()"></pagination>

</div>