<!-- 麵包屑 -->
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">活動管理</a>
    <span class="breadcrumb-item active">活動資料設定</span>
</nav>

<!-- Alert Message -->
<alert></alert>

<!-- 編輯dialog -->
<ng-template #content>
    <member-activity-management-dialog *ngIf="currentItem"  [currentItem]="currentItem" [modalRef]="modalRef" (onAdd)="add($event)"
                                                    (onEdit)="edit($event)">
    </member-activity-management-dialog>
</ng-template>


<!-- 搜尋表單 -->
<app-search-form (onSearch)="doSearch()" (onAdd)="setCurrentItem(content)" (onPrint)="print('merchantGroup.pdf')" [canAdd]="auths.indexOf('memberActivityManagement.append') > -1"
                 [columns]="searchColumns" [searchIndexContent]="searchIndexContent"></app-search-form>

<!-- 結果列表 -->
<div class="mt-3" *ngIf="list && list.length > 0">
    <table class="table table-hover table-sm">
        <tr>
            <th>活動代碼</th>
            <th>活動描述</th>
            <th>活動網址</th>
            <th>開始時間</th>
            <th>結束時間</th>
            <th>是否啟用</th>
            <th>操作</th>
        </tr>
        <tr *ngFor="let item of list" [ngClass]="item.enabled == 0? 'bg-silver' : ''">
            <td>{{item.id}}</td>
            <td>{{item.description}}</td>
            <td>{{item.url}}</td>
            <td>{{item.startTime | date: 'yyyy/MM/dd'}}</td>
            <td>{{item.endTime | date: 'yyyy/MM/dd'}}</td>
            <td>{{item.isActived == 0? '停用' : item.isActived == 1? '啟用' : item.isActived}}</td>
            <td>
                <!-- 編輯 -->
                <button (click)="setCurrentItem(content, item, auths.indexOf('memberActivityManagement.edit')>-1)" class="btn btn-primary btn-sm">編輯</button>
            </td>
        </tr>

    </table>

    <!-- 分頁 -->
    <pagination (onPageChange)="doSearch()"></pagination>

</div>