<!-- 麵包屑 -->
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">寶物管理</a>
    <span class="breadcrumb-item active">寶物資料</span>
</nav>

<!-- Alert Message -->
<alert></alert>

<!-- 編輯dialog -->
<ng-template #content>
    <app-member-treasure-management-dialog *ngIf="currentItem"  [currentItem]="currentItem" [modalRef]="modalRef" (onAddFormData)="addFormData($event)"
                                                    (onEditFormData)="editFormData($event)">
    </app-member-treasure-management-dialog>
</ng-template>


<!-- 搜尋表單 -->
<app-search-form (onSearch)="doSearch()" (onAdd)="setCurrentItem(content)" [canAdd]="auths.indexOf('memberActivityManagement.append') > -1"
                 [columns]="searchColumns" [searchIndexContent]="searchIndexContent"></app-search-form>

<!-- 結果列表 -->
<div class="mt-3" *ngIf="list && list.length > 0">
    <table class="table table-hover table-sm">
        <tr>
            <th>寶物代碼</th>
            <th>名稱</th>
            <th>類別</th>
            <th>是否啟用</th>
            <th>操作</th>
        </tr>
        <tr *ngFor="let item of list" [ngClass]="item.enabled == 0? 'bg-silver' : ''">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.enabled == 0? '停用' : item.enabled == 1? '啟用' : item.enabled}}</td>
            <td>

                <!-- 編輯 -->
                <button (click)="setCurrentItem(content, item, auths.indexOf('memberActivityManagement.edit')>-1)" class="btn btn-primary btn-sm">編輯</button>
            </td>
        </tr>

    </table>

    <!-- 分頁 -->
    <pagination (onPageChange)="doSearch()"></pagination>

</div>