<form ngNativeValidate #f="ngForm" (ngSubmit)="item? edit(f.value) : add(f.value)">
  <!--<pre>{{f.value | json}}</pre>-->
  <div class="modal-header">
    <h4 class="modal-title">{{item? '編輯' : '新增'}}使用者資料</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [ngClass]="share.style.dfgr" ngModelGroup="user">
      <label [ngClass]="share.style.dl">使用者代碼</label>
      <div [ngClass]="share.style.dib">
        <input type="text" [ngClass]="share.style.di" placeholder="請輸入使用者代碼" [ngModel]="item?.user.userId" name="userId" pattern="[A-Za-z\d]*"
          title="英文或數字" [readonly]="item" maxlength="8" required />
      </div>
    </div>
    <div [ngClass]="share.style.dfgr">
      <label [ngClass]="share.style.dl">所屬群組</label>
      <div [ngClass]="share.style.dib">
        <select [class]="share.style.di" [ngModel]="item?.groupv2.groupv2Id" name="groupv2Id" required>
        <option value=""></option>
        <option *ngFor="let g of groupv2List" [ngValue]="g.groupv2Id">
            {{g.groupv2Id}} - {{g.groupv2Name}}
        </option>
      </select>
      </div>
    </div>
    <div [ngClass]="share.style.dfgr" ngModelGroup="user">
      <label [ngClass]="share.style.dl">使用者名稱</label>
      <div [ngClass]="share.style.dib">
        <input type="text" [ngClass]="share.style.di" placeholder="請輸入使用者名稱" required [ngModel]="item?.user.userName" name="userName"
          maxlength="50" />
      </div>
    </div>
    <div [ngClass]="share.style.dfg">
      <label [ngClass]="share.style.dl">使用者描述</label>
      <div [ngClass]="share.style.dib">
        <input type="text" [ngClass]="share.style.di" placeholder="請輸入使用者描述" [ngModel]="item?.description" name="description" maxlength="100"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <loading></loading>
    <button type="submit" [disabled]="share.loading" [ngClass]="share.style.dsb" *ngIf="canSave">儲存</button>
    <button type="button" [ngClass]="share.style.dcb" (click)="close()">離開</button>
  </div>
</form>