<div class="jumbotron" style="margin-top: 3.3%">
  <div class="container">
    <div class="col-sm-8 offset-sm-2">
      <!-- Alert -->
      <alert></alert>
      <!-- Login Start -->
      <div class="col-md-6 offset-md-3">
        <h2>Login</h2>
        <form ngNativeValidate name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group">
            <button [disabled]="share.loading" class="btn btn-primary">登入</button>
            <loading></loading>
          </div>
        </form>
      </div>
      <!-- Login End -->
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <a href="#" target="_top">Acer Inc.</a>
  </p>
</div>