<form ngNativeValidate #f="ngForm" (ngSubmit)="item? edit(f['value']) : add(f['value'])">
  <div class="modal-header">
    <h4 class="modal-title">{{item? '編輯' : '新增'}}群組資料</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [ngClass]="share.style.dfgr">
      <label [ngClass]="share.style.dl">群組代碼</label>
      <div [ngClass]="share.style.dib">
        <input type="text" [ngClass]="share.style.di" placeholder="請輸入群組代碼" [ngModel]="item?.groupv2Id" name="groupv2Id"
          pattern="[A-Za-z\d]*" title="英文或數字" [readonly]="item" maxlength="10" required />
      </div>
    </div>
    <div [ngClass]="share.style.dfg">
      <label [ngClass]="share.style.dl">群組名稱</label>
      <div [ngClass]="share.style.dib">
        <input type="text" [ngClass]="share.style.di" placeholder="請輸入群組名稱" [ngModel]="item?.groupv2Name" name="groupv2Name"
          maxlength="50" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <loading></loading>
    <button type="submit" [disabled]="share.loading" [ngClass]="share.style.dsb" *ngIf="canSave">儲存</button>
    <button type="button" [ngClass]="share.style.dcb" (click)="close()">離開</button>
  </div>
</form>