<!-- Created by skylee on 2017/7/10. -->

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">會員管理設定</a>
    <span class="breadcrumb-item active">標籤管理</span>
</nav>

<!-- Alert Message -->
<alert></alert>

<!--編輯dialog -->
<ng-template #content>
    <app-member-tag-management-dialog *ngIf="currentItem" [currentItem]="currentItem" [modalRef]="modalRef" (onAdd)="add($event)"
                                       (onEdit)="edit($event)">
    </app-member-tag-management-dialog>
</ng-template>

<!-- 搜尋表單 -->
<app-search-form (onSearch)="doSearch()" (onAdd)="setCurrentItem(content)" [canAdd]="auths.indexOf('memberTagManagement.append') > -1"
                 [columns]="searchColumns" [searchIndexContent]="searchIndexContent"></app-search-form>

<!-- 結果列表 -->
<div class="mt-3" *ngIf="list && list.length > 0">
    <table class="table table-hover table-sm">
        <tr>
            <th>標籤代碼</th>
            <th>標籤名稱</th>
            <th>建立時間</th>
            <th>是否啟用</th>
            <th>操作</th>
        </tr>
        <tr *ngFor="let item of list" [ngClass]="item.enabled == 0? 'bg-silver' : ''">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.createTime | date: 'yyyy/MM/dd'}}</td>
            <td>{{item.enabled == 0? '停用' : item.enabled == 1? '啟用' : item.enabled}}</td>
            <td>
                <!-- 編輯 -->
                <button (click)="setCurrentItem(content, item, auths.indexOf('memberTagManagement.edit')>-1)" class="btn btn-primary btn-sm">編輯</button>

                <!-- 刪除 -->
                <!--<loading class="override" [check]="false" *ngIf="item['removing']"></loading>-->
                <!--<button (click)="remove(item.id, item.name, item)" *ngIf="-->
          <!--auths.indexOf('memberTagManagement.delete')>-1 && item.user.enabled == 1"-->
                        <!--class="btn btn-danger btn-sm" [disabled]="item['removing']">刪除</button>-->
            </td>
        </tr>

    </table>

    <!-- 分頁 -->
    <pagination (onPageChange)="doSearch()"></pagination>

</div>