<div id="accordion" role="tablist">
    <div class="card" *ngFor="let menu of menuList; let first = first; let last = last">
        <ng-container *ngIf="{ show : (menu|json).includes(share.currentUrl) } as menuVar">
            <!-- Menu Card Header -->
            <div class="card-header">
                <a [ngClass]="{'a-menu': true, collapsed: !menuVar.show}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{menu.menuId}}">
                    {{menu.name}}
                </a>
            </div>
            <!-- Menu Card Body (Submenus) -->
            <div id="collapse{{menu.menuId}}" class="collapse submenu-box" role="tabpanel">
                <div class="card-block" *ngFor="let submenu of menu.submenus">
                    <a routerLink="{{submenu.state}}" [ngClass]="{'a-submenu': true, active: share.currentUrl === submenu.state}">{{submenu.name}}</a>
                </div>
            </div>
        </ng-container>
    </div>
</div>