#accordion {
    color: #616161;
}
#accordion .card a:hover, a.active, .card-header a:not(.collapsed) {
    background-color: #E4E6E6;
    color: #4b88b7;
}
a {
    display: block;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    border-top-color: #e4e4e4;
    background-color: #ffffff;
    color: #616161;
    border-top-width: 1px;
    border-top-style: dotted;
}
.card {
    border: 0px;
}
.card-header a.a-menu:not(.collapsed) {
    background-color: #ECEEEE;
}
.card-block a.a-submenu.active {
    background-color: #F1F3F3;
}
.a-menu {
    padding: 0.25rem 0.4rem 0.25rem 0.25rem;
    font-size: 1rem;
}
.a-submenu {
    padding: 0.13rem 0.4rem 0.13rem 1.25rem;
    font-size: 0.94rem;
}
.card-header {
    padding: 0rem;
}
.card-header .a-menu::before {
    display: none;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    height: 2.1rem;
    width: 0.2rem;
    max-width: 0.2rem;
    overflow: hidden;
    background-color: #629cc9;
}
.card-header a:hover::before, .card-header a:not(.collapsed)::before {
    display: block;
}
.card-block {
    padding: 0rem;
    position: relative;
}
.card-block a::before {
    display: none;
    content: "";
    position: absolute;
    top: 0.78rem;
    left: 0.7rem;
    z-index: 1;
    height: 0.3rem;
    width: 0.3rem;
    max-width: 0.3rem;
    overflow: hidden;
    background-color: #629cc9;
}
.card-block a:hover::before, .card-block a.active::before {
    display: block;
}
.collapse::before, .submenu-box::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0.8rem;
    top: 2.45rem;
    bottom: 0;
    border: 1px dotted;
    border-width: 0 0 0 1.7px;
    border-color: hsl(198, 10%, 70%);
}
.menu-icon {
    position: absolute;
}
.submenu-box::before {
    left: 0.8rem;
    top: 2.05rem;
}
