label small {
    cursor: pointer;
}

.card-block {
    padding: 0.75rem;
    padding-bottom: 0.2rem;
}

.card-title {
    margin-bottom: 0rem;
}

hr {
    margin-top: 0.5rem;
}

.content-box {
    min-width: 45rem;
}