<!-- 麵包屑 -->
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">使用者管理</a>
  <span class="breadcrumb-item active">群組權限設定</span>
</nav>

<alert></alert>

<div class="col-md-8 content-box">

  <!-- 選擇群組 & 儲存權限 -->
  <div>
    <div class="d-flex">
      <div class="w-75">
        <label class="mr-2 col-form-label col-form-label-sm">選擇群組：</label>
        <select class="form-control form-control-sm w-50 d-inline" (change)="queryAuths($event.target.value)">
        <option *ngFor="let groupv2 of groupv2List" [value]="groupv2.groupv2Id">{{groupv2.groupv2Name}} ({{groupv2.groupv2Id}})</option>
      </select>
        <loading></loading>
      </div>
      <div class="p-1 ml-auto">
        <button class="btn btn-warning btn-sm" (click)="saveAuths()" [disabled]="share.loading">儲存</button>
      </div>
    </div>
    <hr>
  </div>

  <!-- 權限 & 登入頁設定 -->
  <div>
    <!-- Mainmenu -->
    <!-- Menu -->
    <div *ngFor="let menu of list" class="mt-3 mr-0 mb-3 ml-3">
      <div class="card mb-3 border-right-0">
        <div class="card-header">
          <label class="checkbox-inline text-muted mr-3">
            <input type="checkbox" value="" class="align-middle" [(ngModel)]="menu.checkAll" (change)="menuCheckAll(menu)">
            <small class="text-muted">全選</small>
          </label>
          <strong>{{menu.name}}</strong>
        </div>
        <div class="card-block">
          <!-- Submenu -->
          <div class="card mb-2" *ngFor="let submenu of menu.submenus">
            <div class="card-block d-flex">
              <!-- 全選 submenu -->
              <div>
                <label class="checkbox-inline text-muted mr-3">
                <input type="checkbox" class="align-middle" [(ngModel)]="submenu.checkAll" (change)="submenuCheckAll(submenu)">
                <small class="text-muted">全選</small>
              </label>
              </div>
              <div class="f-1">
                <div class="card-title d-flex">
                  <div class="form-check form-check-inline mr-2">
                    <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="submenu.checked" (change)="onChecked()">
                    <span>{{submenu.name}} (檢視)</span>
                  </label>
                  </div>
                  <div class="ml-auto">
                    <!-- 覆核人 -->
                    <small class="mr-2" [hidden]="!submenu.checked" *ngIf="submenu.auth && submenu.auth.checkUser">覆核: {{submenu.auth.checkUser}} {{submenu.auth.checkDate | date:'yyyy/MM/dd'}}</small>
                    <loading [check]="false" *ngIf="submenu.checking"></loading>
                    <!-- 覆核 btn -->
                    <button type="button" class="btn btn-primary btn-sm" (click)="checkAuth(submenu)" *ngIf="submenu.auth && !submenu.auth.checkUser && auths.indexOf('groupv2UserAuthConf.check') > -1"
                      [hidden]="!submenu.checked" [disabled]="submenu.checking || currentUserId == submenu.auth.modifyUser">覆核</button>
                    <!-- 登入頁 -->
                    <button [class]="submenu.defaultPage?'btn btn-sm btn-outline-primary font-weight-bold':'btn btn-sm btn-outline-secondary'"
                      [hidden]="!submenu.checked" (click)="defaultPageChanged(submenu)">設為登入頁</button>
                  </div>
                </div>
                <!-- Action 列表 -->
                <div class="">
                  <!-- Action -->
                  <ng-container *ngFor="let action of submenu.actions">
                    <div class="form-check form-check-inline mr-2" *ngIf="!action.isView">
                      <label class="form-check-label text-muted">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="action.checked" (change)="submenu.checked=true;onChecked()" [disabled]="action.isView">
                      {{action.actionDesc}}
                    </label>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>