/* You can add global styles to this file, and also import other style files */

.bg-primary {
    background-color: #438eb9 !important
}

.btn-primary {
    background-color: #428bca !important;
    border-color: #428bca;
}
.btn-primary:hover {
    background-color: #1b6aaa !important;
    border-color: #428bca;
}

.bg-silver {
	background-color: silver;
}

/* Required Asterisk */
.form-group.required label:after {
   content:"*";
   color:red;
}

.relative {
	position: relative;
}

.text-sm {
	font-size: 0.875rem;
}

form.tr, div.tr
{
	display:table-row;
}
.breadcrumb {
	margin-bottom: 0.4rem;
}

/* Fix table columns width */
table {
	table-layout: fixed;
	word-wrap: break-word;
}

.table {
	font-size: 0.8rem;
	width: 96.4%;
}

.table td {
	border-top: 1px solid #ddd;
}

.th-3 {
	width: 9.7rem;
}

.default-cursor {
	cursor: default; 
}

li.light-blue > a {
	background-color: #62a8d1;
}

li.light-blue > a:hover {
    background-color: #579ec8;
}

.dialog .modal-dialog {
	width: 514px;
	max-width: none;
}

.dialog.lg .modal-dialog {
	width: 90%;
}

.dialog.lg.nccc .modal-dialog {
	max-width: 900px;
}

.dialog .modal-header {
	border-bottom: 1px solid #ddd;
    padding: 0.3rem 1rem 0rem 1rem;
}

.dialog .modal-header h4 {
	font-size: 1.2rem;
	padding: 1rem;
	font-weight: 600;
}

.dialog .modal-body {
	padding-bottom: 4px;
}

.dialog .modal-body .form-group {
	margin-left: 0px;
	margin-bottom: 14px;
}

.dialog .modal-body input {
	padding: 0.35rem 0.5rem;
}

input[readonly] {
	color: gray;
}

.f-1 {
	flex: 1;
}

.overflow-x {
	overflow-x: auto;
}

loading.override {
	position: relative;
}

loading.override i {
    position: absolute;
    left: 0.9rem;
    top: 0.4rem;
    color: black;
}