<!-- 麵包屑 -->
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">使用者管理</a>
  <span class="breadcrumb-item active">使用者管理</span>
</nav>

<!-- Alert Message -->
<alert></alert>

<!-- 編輯dialog -->
<ng-template #content>
  <app-groupv2-user-management-dialog *ngIf="currentItem" [currentItem]="currentItem" [modalRef]="modalRef" (onAdd)="add($event)"
    (onEdit)="edit($event)">
  </app-groupv2-user-management-dialog>
</ng-template>

<!-- 搜尋表單 -->
<app-search-form (onSearch)="doSearch()" (onAdd)="setCurrentItem(content)" [canAdd]="auths.indexOf('groupv2Management.append') > -1"
  [columns]="searchColumns" [searchIndexContent]="searchIndexContent"></app-search-form>

<!-- 結果列表 -->
<div class="mt-3" *ngIf="list && list.length > 0">
  <table class="table table-hover table-sm">
    <tr>
      <th>使用者代碼</th>
      <th>使用者名稱</th>
      <th>所屬群組</th>
      <th>使用者描述</th>
      <th>操作</th>
    </tr>
    <tr *ngFor="let item of list" [ngClass]="item.user.enabled == 0? 'bg-silver' : ''">
      <td>{{item.user.userId}}</td>
      <td>{{item.user.userName}}</td>
      <td>{{item.groupv2.groupv2Id + '-' + item.groupv2.groupv2Name}}</td>
      <td>{{item.description}}</td>
      <td>
        <!-- 解鎖-->
        <loading class="override" [check]="false" *ngIf="item['unlocking']"></loading>
        <button (click)="unlock(item.user.userId, item)" class="btn btn-primary btn-sm"
          *ngIf="item.user.enabled == 1 && item.user.lockStatus == 'Y' &&
          auths.indexOf('groupv2UserManagement.unlock')>-1" [disabled]="item['unlocking']">解鎖</button>

        <!-- 編輯 -->
        <button (click)="setCurrentItem(content, item, item.user.enabled == 1
          && auths.indexOf('groupv2UserManagement.edit')>-1)" class="btn btn-primary btn-sm">編輯</button>

        <!-- 刪除 -->
        <loading class="override" [check]="false" *ngIf="item['removing']"></loading>
        <button (click)="remove(item.objectId, item.user.userName, item)" *ngIf="item.user.userId != currentUserId &&
          auths.indexOf('groupv2UserManagement.delete')>-1 && item.user.enabled == 1"
          class="btn btn-danger btn-sm" [disabled]="item['removing']">刪除</button>

        <!-- 回復 -->
        <loading class="override" [check]="false" *ngIf="item['recovering']"></loading>
        <button (click)="recover(item.objectId, item)" class="btn btn-warning btn-sm"
          *ngIf="auths.indexOf('groupv2UserManagement.recover') > -1 && item.user.enabled == 0"
           [disabled]="item['recovering']">回復</button>
      </td>
    </tr>

  </table>

  <!-- 分頁 -->
  <pagination (onPageChange)="doSearch()"></pagination>

</div>