<!-- Created by skylee on 2017/7/17. -->

<form ngNativeValidate #f="ngForm" (ngSubmit)="item.id? edit(f.value) : add(f.value)">
    <!--<pre>{{f.value | json}}</pre>-->
    <div class="modal-header">
        <h4 class="modal-title">{{item.id? '編輯' : '新增'}}頁籤資料</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div [ngClass]="share.style.dfgr">
            <label [ngClass]="share.style.dl">頁籤名稱</label>
            <div [ngClass]="share.style.dib">
                <input type="text" [ngClass]="share.style.di" placeholder="名稱" [ngModel]="item?.name" name="name"
                       title="英文或數字" maxlength="25" required />
            </div>
        </div>

        <div [class]="share.style.dfgr" >
            <label [ngClass]="share.style.dl">啟用狀態</label>
            <div class="col-sm-6">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.enabled"  name="enabled" [value]="1" />
                        <span>是</span>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.enabled"  name="enabled" [value]="0" />
                        <span>否</span>
                    </label>
                </div>
            </div>
        </div>

        <!--<div [ngClass]="share.style.dfgr">-->
        <!--<label [ngClass]="share.style.dl">所屬類別</label>-->
        <!--<div [ngClass]="share.style.dib">-->
        <!--<select [class]="share.style.di" [ngModel]="item?.groupv2.groupv2Id" name="groupv2Id" required>-->
        <!--<option value=""></option>-->
        <!--<option *ngFor="let g of groupv2List" [ngValue]="g.groupv2Id">-->
        <!--{{g.groupv2Id}} - {{g.groupv2Name}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <loading></loading>
        <button type="submit" [disabled]="share.loading" [ngClass]="share.style.dsb" *ngIf="canSave">儲存</button>
        <button type="button" [ngClass]="share.style.dcb" (click)="close()">離開</button>
    </div>
</form>