<form ngNativeValidate #f="ngForm" (ngSubmit)="item.id? edit(f['value']) : add(f['value'])">
    <div class="modal-header">
        <h4 class="modal-title">{{item.id? '編輯' : '新增'}}會員收藏資料</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div [ngClass]="share.style.dfgr">
            <label [ngClass]="share.style.dl">會員帳號</label>
            <div class="pl-0">
                <input type="text" [ngClass]="share.style.di" [ngModel]="item?.user?.id" name="userId" maxlength="300"
                />
            </div>
        </div>

        <div [ngClass]="share.style.dfg" >
            <label [ngClass]="share.style.dl">寶物名稱</label>
            <div [ngClass]="share.style.dib">
                <select [class]="share.style.di" [ngModel]="item?.object?.id" name="objectId">
                    <option value=""></option>
                    <option *ngFor="let g of treasureList" [ngValue]="g.id">
                        {{g.name}}
                    </option>
                </select>
            </div>
        </div>

        <!--<div [ngClass]="share.style.dfgr">-->
            <!--<label [ngClass]="share.style.dl">寶物名稱</label>-->
            <!--<div class="pl-0">-->
                <!--<input type="text" [ngClass]="share.style.di" [ngModel]="item?.object?.id" name="objectId" [readOnly]="true" maxlength="300"-->
                <!--/>-->
            <!--</div>-->
        <!--</div>-->

        <div [ngClass]="share.style.dfg">
            <label [ngClass]="share.style.dl">活動描述</label>
            <div [ngClass]="share.style.dib">
                <select [class]="share.style.di" [ngModel]="item?.activity?.id" name="activityId">
                    <option value=""></option>
                    <option *ngFor="let g of activityList" [ngValue]="g.id">
                        {{g.description}}
                    </option>
                </select>
            </div>
        </div>

        <!--<div [ngClass]="share.style.dfgr">-->
            <!--<label [ngClass]="share.style.dl">活動描述</label>-->
            <!--<div class="pl-0">-->
                <!--<input type="text" [ngClass]="share.style.di" [ngModel]="item?.activity?.id" name="activityId" [readOnly]="true" maxlength="300"-->
                <!--/>-->
            <!--</div>-->
        <!--</div>-->

        <div [class]="share.style.dfgr" >
            <label [ngClass]="share.style.dl" >啟用狀態</label>
            <div class="col-sm-6">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.isActived"  name="isActived" [value]="1" />
                        <span>是</span>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [ngModel]="item?.isActived"  name="isActived" [value]="0" />
                        <span>否</span>
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <loading></loading>
        <button type="submit" [disabled]="share.loading" [ngClass]="share.style.dsb" *ngIf="canSave">儲存</button>
        <button type="button" [ngClass]="share.style.dcb" (click)="close()">離開</button>
    </div>
</form>